{
      "tabWidth": 5,
      "overrides": [
            {
                  "files": ["*.tmpl"],
                  "options": {
                        "parser": "go-template"
                  }
            }
      ]
}
