.my-footer {
     height: 5em;
     background-color: #163b65;
     margin-top: 1.5em;
     padding: 1em;
     color: white;
     font-size: 80%;
}

.remove-scroll {
     overflow: hidden !important;
}

.datepicker-picker {
     z-index: 1000000;
}

.no-z-index {
     z-index: unset !important;
}