{{ define "base" }}
     <!DOCTYPE html>
     <html lang="en">
          <head>
               <meta charset="utf-8" />
               <meta
                    name="viewport"
                    content="width=device-width, initial-scale=1"
               />
               <title>bookings</title>
               <link
                    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
                    rel="stylesheet"
                    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
                    crossorigin="anonymous"
               />
               <link
                    rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.1/dist/css/datepicker-bs5.min.css"
               />
               <link
                    rel="stylesheet"
                    type="text/css"
                    href="https://unpkg.com/notie/dist/notie.min.css"
               />
               <link
                    rel="stylesheet"
                    type="text/css"
                    href="/static/css/styles.css"
                    crossorigin="anonymous"
               />
          </head>
          <body>
               <nav class="navbar navbar-expand-lg bg-primary">
                    <div class="container-fluid">
                         <a class="navbar-brand" href="/">Navbar</a>
                         <button
                              class="navbar-toggler"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#navbarSupportedContent"
                              aria-controls="navbarSupportedContent"
                              aria-expanded="false"
                              aria-label="Toggle navigation"
                         >
                              <span class="navbar-toggler-icon"></span>
                         </button>
                         <div
                              class="collapse navbar-collapse"
                              id="navbarSupportedContent"
                         >
                              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                   <li class="nav-item">
                                        <a
                                             class="nav-link active"
                                             aria-current="page"
                                             href="/"
                                             >Home</a
                                        >
                                   </li>
                                   <li class="nav-item">
                                        <a class="nav-link" href="/about"
                                             >About</a
                                        >
                                   </li>
                                   <li class="nav-item dropdown">
                                        <a
                                             class="nav-link dropdown-toggle"
                                             href="#"
                                             role="button"
                                             data-bs-toggle="dropdown"
                                             aria-expanded="false"
                                        >
                                             Dropdown
                                        </a>
                                        <ul class="dropdown-menu">
                                             <li>
                                                  <a
                                                       class="dropdown-item"
                                                       href="/god-rooms"
                                                       >Godly rooms</a
                                                  >
                                             </li>
                                             <li>
                                                  <hr
                                                       class="dropdown-divider"
                                                  />
                                             </li>

                                             <li>
                                                  <a
                                                       class="dropdown-item"
                                                       href="/emp-rooms"
                                                       >Empororly rooms</a
                                                  >
                                             </li>
                                             <li>
                                                  <hr
                                                       class="dropdown-divider"
                                                  />
                                             </li>

                                             <li>
                                                  <a
                                                       class="dropdown-item"
                                                       href="/king-rooms"
                                                       >Kingsly rooms</a
                                                  >
                                             </li>
                                             <li>
                                                  <hr
                                                       class="dropdown-divider"
                                                  />
                                             </li>

                                             <li>
                                                  <a
                                                       class="dropdown-item"
                                                       href="/saint-rooms"
                                                       >Saintly rooms</a
                                                  >
                                             </li>
                                        </ul>
                                   </li>
                                   <li class="nav-item">
                                        <a
                                             class="nav-link"
                                             href="/search-availability"
                                             >Book Now!!</a
                                        >
                                   </li>
                                   <li class="nav-item">
                                        <a class="nav-link" href="/contact"
                                             >Contact</a
                                        >
                                   </li>

                              </ul>
                         </div>
                    </div>
               </nav>

               {{ block "content" . }}

               {{ end }}


               <footer class="my-footer">
                    <div class="row">
                         <div class="col">left</div>

                         <div class="col">center</div>

                         <div class="col">right</div>
                    </div>
               </footer>
               <input
                    id="csrf_token"
                    name="csrf_token"
                    type="hidden"
                    value="{{ .CSRFToken }}"
               />

               <script
                    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                    crossorigin="anonymous"
               ></script>
               <script
                    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
                    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
                    crossorigin="anonymous"
               ></script>
               <script src="https://unpkg.com/notie"></script>
               <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.1/dist/js/datepicker-full.min.js"></script>
               <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
               {{ block "js" . }}

               {{ end }}
               <script>
                    (() => {
                         "use strict";

                         // Fetch all the forms we want to apply custom Bootstrap validation styles to
                         const forms =
                              document.querySelectorAll(".needs-validation");

                         // Loop over them and prevent submission
                         Array.from(forms).forEach((form) => {
                              form.addEventListener(
                                   "submit",
                                   (event) => {
                                        if (!form.checkValidity()) {
                                             event.preventDefault();
                                             event.stopPropagation();
                                        }

                                        form.classList.add("was-validated");
                                   },
                                   false
                              );
                         });
                    })();
                    const Prompt = () => {
                         let toast = (c) => {
                              const {
                                   icon = "success",
                                   msg = "",
                                   pos = "top",
                              } = c;
                              const Toast = Swal.mixin({
                                   toast: true,
                                   position: pos,
                                   showConfirmButton: false,
                                   timer: 3000,
                                   timerProgressBar: true,
                                   icon: icon,
                                   title: msg,

                                   didOpen: (toast) => {
                                        toast.addEventListener(
                                             "mouseenter",
                                             Swal.stopTimer
                                        );
                                        toast.addEventListener(
                                             "mouseleave",
                                             Swal.resumeTimer
                                        );
                                   },
                              });

                              Toast.fire({});
                         };
                         let successOrFailure = (c) => {
                              const {
                                   icon = "success",
                                   msg = "",
                                   title = "",
                                   footer = "",
                              } = c;
                              Swal.fire({
                                   icon: icon,
                                   title: title,
                                   text: msg,
                                   footer: footer,
                              });
                         };
                         let customeHTML = async (c) => {
                              const {
                                   msg = "",
                                   htmlContent = "",
                                   callback = () => {
                                        console.log("backup callback");
                                   },
                                   didOpenParam = () => {
                                        console.log(
                                             "backup callback for didOpen"
                                        );
                                   },
                                   willOpenParam = () => {
                                        console.log(
                                             "backup callback for willOpen"
                                        );
                                   },
                                   preConfirmParam = () => {
                                        console.log(
                                             "backup callback for preConfirm"
                                        );
                                   },
                              } = c;
                              const customDiv = Swal.mixin({
                                   customClass: {
                                        htmlContainer: "remove-scroll",
                                        container: "remove-scroll",
                                        actions: "no-z-index",
                                   },
                              });
                              const { value: formValues } =
                                   await customDiv.fire({
                                        title: msg,
                                        html: htmlContent,
                                        focusConfirm: false,
                                        showCancelButton: true,
                                        willOpen: willOpenParam,
                                        preConfirm: preConfirmParam,
                                        didOpen: didOpenParam,
                                   });

                              if (formValues) {
                                   if (
                                        formValues.dismiss !=
                                        Swal.DismissReason.cancel
                                   ) {
                                        if (formValues.value !== "") {
                                             c.callback(formValues);
                                        }
                                   }
                              }
                         };
                         return {
                              // error: error,
                              successOrFailure: successOrFailure,
                              toast: toast,
                              customeHTML: customeHTML,
                         };
                    };
                    const notify = (msg, msgType) => {
                         notie.alert({
                              type: msgType,
                              text: msg,
                         });
                    };
                    const notifyModal = (title, text, icon, cbText) => {
                         Swal.fire({
                              title: title,
                              html: text,
                              icon: icon,
                              confirmButtonText: cbText,
                         });
                    };

                    {{with .Error}}
                         notify({{.}},"error")
                    {{end}}
                    
                    {{with .Flash}}
                         notify({{.}},"success")
                    {{end}}

               </script>
          </body>
     </html>
{{ end }}
