{{ template "base" . }}

{{ define "content" }}
     <div class="container">
          <div class="row">
               <div class="col">
                    <img
                         class="img-fluid img-thumbnail rounded mx-auto d-block"
                         src="static/images/emp.jpg"
                         alt="rooms"
                         style="height: 70vh; width: 60vw"
                    />
               </div>
          </div>
          <div class="row">
               <div class="col">
                    <h1 class="text-center mt-5">Empororly ROOMS</h1>
                    <p>
                         Lorem ipsum dolor sit amet consectetur adipisicing
                         elit. Exercitationem enim commodi nostrum beatae minus
                         deleniti at excepturi repellendus id doloribus omnis
                         distinctio maiores itaque cumque corporis fugit quia
                         reprehenderit ex, quasi accusamus minima optio illum ut
                         molestias. Tenetur sunt possimus labore nihil
                         consequatur nemo maxime quas veniam blanditiis.
                         Dignissimos aliquid iusto blanditiis magnam officiis
                         officia quia pariatur quisquam quis provident explicabo
                         corrupti libero facere, ea quas accusantium quidem quos
                         sed culpa, qui consectetur vitae temporibus alias
                         tempore. Omnis, dolorum? Impedit corporis autem
                         commodi, exercitationem totam reprehenderit, animi
                         voluptatem perspiciatis ad quia eum a neque quaerat
                         assumenda ratione recusandae earum fuga, ducimus
                         aspernatur expedita nobis vel? Voluptatibus assumenda
                         odit facilis officia id impedit cupiditate repellat
                         deleniti ab voluptatem provident porro at in, numquam
                         atque praesentium non inventore recusandae molestiae
                         iusto totam error cum! Laboriosam cum aperiam voluptate
                         obcaecati vitae quidem sed, quis repellat voluptatibus
                         debitis maxime aliquid at. Hic harum modi architecto
                         mollitia doloribus repellendus? Voluptas soluta facere
                         iure sed asperiores rerum molestiae iusto ratione ab
                         eius fuga cupiditate aliquid laboriosam, corrupti
                         officiis quaerat quos molestias deleniti odio quod
                         dolorum dolorem eos esse eum! Nostrum animi laborum est
                         numquam exercitationem ipsa, mollitia facilis ducimus
                         error sit voluptatibus dolores maiores earum tenetur?
                    </p>
               </div>
          </div>
     </div>
     <div class="row">
          <div class="col text-center">
               <a
                    id="reservation-availability"
                    href="#!"
                    class="btn btn-success"
                    >Search Availability</a
               >
          </div>
     </div>
{{ end }}
{{ template "rooms" . }}
