{{template "base" .}}

{{define "content"}}
<div class="container">
		<div class="row">
			<div class="col">
				<h1>this is a home page template of BOOKINGS</h1>
				<p>this is new stuff</p>
				<p>this is new stuff</p>
				<p>go TO about using <a href="/about">about</a>
			</div>
		</div>
</div>
{{end}}