{{ template "base" . }}

{{ define "content" }}
     <div class="container">
          <div class="row">
               <div class="col">
                    {{ $res := index .Data "reservations" }}
                    <h1>Make reservation</h1>
                    <form
                         id="make-reservation-form"
                         method="post"
                         action=""
                         novalidate
                    >
                         <input
                              id="csrf_token"
                              name="csrf_token"
                              type="hidden"
                              value="{{ .CSRFToken }}"
                         />
                         <div class="form-group mt-5">
                              <label for="first_name">First name</label>
                              {{ with .Form.Errors.Get "first_name" }}
                                   <label class="text-danger">{{ . }}</label>
                              {{ end }}
                              <input
                                   type="text"
                                   name="first_name"
                                   id="first_name"
                                   required
                                   value="{{ $res.FirstName }}"
                                   autocomplete="off"
                                   class="form-control{{ with .Form.Errors.Get "first_name" }}
                                        is-invalid
                                   {{ end }}"
                              />
                         </div>
                         <div class="form-group">
                              <label for="last_name">Last name</label>
                              {{ with .Form.Errors.Get "last_name" }}
                                   <label class="text-danger">{{ . }}</label>
                              {{ end }}
                              <input
                                   type="text"
                                   name="last_name"
                                   id="last_name"
                                   required
                                   autocomplete="off"
                                   value="{{ $res.LastName }}"
                                   class="form-control {{ with .Form.Errors.Get "last_name" }}
                                        is-invalid
                                   {{ end }}"
                              />
                         </div>
                         <div class="form-group">
                              <label for="name">Email</label>
                              {{ with .Form.Errors.Get "email" }}
                                   <label class="text-danger">{{ . }}</label>
                              {{ end }}
                              <input
                                   type="email"
                                   name="email"
                                   id="email"
                                   required
                                   autocomplete="off"
                                   value="{{ $res.Email }}"
                                   class="form-control {{ with .Form.Errors.Get "email" }}
                                        is-invalid
                                   {{ end }}"
                              />
                         </div>
                         <div class="form-group">
                              <label for="name">Phone</label>
                              {{ with .Form.Errors.Get "phone" }}
                                   <label class="text-danger">{{ . }}</label>
                              {{ end }}
                              <input
                                   type="text"
                                   name="phone"
                                   id="phone"
                                   required
                                   autocomplete="off"
                                   value="{{ $res.Phone }}"
                                   class="form-control {{ with .Form.Errors.Get "phone" }}
                                        is-invalid
                                   {{ end }}"
                              />
                         </div>
                         <button type="submit" class="btn btn-primary mt-2">
                              Make Reservation
                         </button>
                    </form>
               </div>
          </div>
     </div>
{{ end }}
